* {
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

body {
  /*margin: 0px;*/
  background-color: rgb(250,250,250);
}

#header {
  background-color: white;
  text-align: center;
  height: 100px;
}

#header .icon {
  width: 28%;
  background-color: inherit;
  float: left;
}

.nav-wrapper {
  width: 72%;
  padding: 2% 0% 0% 0%;
  background-color: inherit;
  float: left;
}

.navbar {
  width: 100%;
  background-color: inherit;
  float: left;
}

/*#nav {
  float: left;
  text-align: center;
  margin: 0px 20px;
  width: 16.66%;
}*/

#top-menu ul {
  margin: 0px;
  float: left;
}

#top-menu li {
  font-size: 92%;
  padding: 0% 2%;
  display: inline-block;
}

#pics {
  text-align: center;
  background-color: blue;
  padding: 1px;
}

#infobar {
  background-color: rgb(255,85,0);
  margin: 30px 50px;
  padding: 40px 50px;
  font-size: .7em;
  top: 50%;
  clear: both;
}

#fact {
  text-align: center;
}

#outreach {
  margin: 30px
}

#outreach .wrapper {
  width: 50%;
  float: left;
  background-color: inherit;
}

#outreach .column {
  font-size: 80%;
  color: rgb(255,85,0);
  height: 100px;
  padding: 30px 5px 0px 5px;
  text-align: center;
  margin: 5px;
  border-radius: 15px;
  border: 3px solid rgb(255,85,0);
}

#infobar .column {
  width: 33%;
  float: left;
  background-color: inherit;
}

#page_title {
  color: rgb(255,85,0);
  text-align: center;
}

#main_text {
  margin: 0px 45px;
  font-size: 150%;
}

@media screen and (max-width:600px) {
  #infobar .column {
    width: 100%;
  }
  #outreach .wrapper {
    width: 100%;
  }
}

.clearfix {
  overflow: auto;
}

#container {
  background-color: white;
  position: relative;
}

#pic-slider-0 {
  margin-top: 20px;
  position: relative;
  overflow: hidden;
}

.slide {
  /*background-size: cover;*/
  overflow: hidden;
  margin: -9.5% -2.45% -6.1% -4.25%;
}

img {
  width: 100%;
  height: auto;
}

p {
  line-height: 150%;
}

a {
  text-decoration: none;
}

/* unvisited link */
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: rgb(255,85,0);
}

/* selected link */
a:active {
    color: rgb(255,85,0);
}
